<link rel="stylesheet" href="/css/Activity_Tracker.css">

<body>

    <div class="trackr-container">

        <div class="trackr-item" id="trackr1"></div>

        <div class="trackr-item" id="trackr2">
            <div class="graph-container">
                <div class="bar" style="--index: 1; height: 72%;">72</div>
                <div class="bar" style="--index: 2; height: 53%;">53</div>
                <div class="bar" style="--index: 3; height: 88%;">88</div>
                <div class="bar" style="--index: 4; height: 21%;">21</div>
                <div class="bar" style="--index: 5; height: 33%;">33</div>
                <div class="bar" style="--index: 6; height: 10%;">10</div>
                <div class="bar" style="--index: 7; height: 67%;">67</div>
            </div>
        </div>

        <div class="trackr-item" id="trackr3">
            <div class="activities">
                <div class="actvs-trckd" style="--index: 1;">Drinks</div>
                <div class="actvs-trckd" style="--index: 2;">Smokes</div>
                <div class="actvs-trckd" style="--index: 3;">Calories</div>
                <div class="actvs-trckd" style="--index: 4;">Protien</div>
            </div>
        </div>

        <div class="trackr-item" id="trackr4"></div>

        <div class="trackr-item" id="trackr5"></div>

        <div class="trackr-item" id="trackr6"></div>

    </div>

</body>

<script src="/js/Activity_Tracker.js"></script>