<link rel="stylesheet" href="/css/Activity_Tracker.css">

<body>

    <div class="trackr-container">

        <div class="trackr-item" id="trackr1">1. Today Activity</div>

        <div class="trackr-item" id="trackr2">
            <div class="graph-container">
                <div class="bar" style="--index: 1; height: 72%;">Day 1</div>
                <div class="bar" style="--index: 2; height: 53%;">Day 2</div>
                <div class="bar" style="--index: 3; height: 88%;">Day 3</div>
                <div class="bar" style="--index: 4; height: 21%;">Day 4</div>
                <div class="bar" style="--index: 5; height: 33%;">Day 5</div>
                <div class="bar" style="--index: 6; height: 10%;">Day 6</div>
                <div class="bar" style="--index: 7; height: 67%;">Day 7</div>
            </div>
        </div>

        <div class="trackr-item" id="trackr3">3. Tracked Activities</div>
        <div class="trackr-item" id="trackr4">4. Coming Soon</div>
        <div class="trackr-item" id="trackr5">5. YTD</div>
        <div class="trackr-item" id="trackr6">6. Coming Soon</div>

    </div>

</body>

<script src="/js/Activity_Tracker.js"></script>