<link rel="stylesheet" href="/css/Activity_Tracker.css">

<body>

    <div class="trackm-container">

        <div class="trackm-item" id="trackm1">
            <div class="tick-markv" style="--tick-index: 31;"></div>
            <div class="tick-markv" style="--tick-index: 30;"></div>
            <div class="tick-markv" style="--tick-index: 29;"></div>
            <div class="tick-markv" style="--tick-index: 28;"></div>
            <div class="tick-markv" style="--tick-index: 27;"></div>
            <div class="tick-markv" style="--tick-index: 26;"></div>
            <div class="tick-markv" style="--tick-index: 25;"></div>
            <div class="tick-markv" style="--tick-index: 24;"></div>
            <div class="tick-markv" style="--tick-index: 23;"></div>
            <div class="tick-markv" style="--tick-index: 22;"></div>
            <div class="tick-markv" style="--tick-index: 21;"></div>
            <div class="tick-markv" style="--tick-index: 20;"></div>
            <div class="tick-markv" style="--tick-index: 19;"></div>
            <div class="tick-markv" style="--tick-index: 18;"></div>
            <div class="tick-markv" style="--tick-index: 17;"></div>
            <div class="tick-markv" style="--tick-index: 16;"></div>
            <div class="tick-markv" style="--tick-index: 15;"></div>
            <div class="tick-markv" style="--tick-index: 14;"></div>
            <div class="tick-markv" style="--tick-index: 13;"></div>
            <div class="tick-markv" style="--tick-index: 12;"></div>
            <div class="tick-markv" style="--tick-index: 11;"></div>
            <div class="tick-markv" style="--tick-index: 10;"></div>
            <div class="tick-markv" style="--tick-index: 9;"></div>
            <div class="tick-markv" style="--tick-index: 8;"></div>
            <div class="tick-markv" style="--tick-index: 7;"></div>
            <div class="tick-markv" style="--tick-index: 6;"></div>
            <div class="tick-markv" style="--tick-index: 5;"></div>
            <div class="tick-markv" style="--tick-index: 4;"></div>
            <div class="tick-markv" style="--tick-index: 3;"></div>
            <div class="tick-markv" style="--tick-index: 2;"></div>
            <div class="tick-markv" style="--tick-index: 1;"></div>
            <div class="graph-container">
                <div class="bar" id="today-actvs" style="height: 32%"></div>
            </div>
        </div>

        <div class="trackm-item" id="trackm2">
            <div class="tick-markh" style="--tick-index: 7;"></div>
            <div class="tick-markh" style="--tick-index: 6;"></div>
            <div class="tick-markh" style="--tick-index: 5;"></div>
            <div class="tick-markh" style="--tick-index: 4;"></div>
            <div class="tick-markh" style="--tick-index: 3;"></div>
            <div class="tick-markh" style="--tick-index: 2;"></div>
            <div class="tick-markh" style="--tick-index: 1;"></div>

            <div class="graph-container">
                <div class="bar" style="--index: 1; height: 72%;">72</div>
                <div class="bar" style="--index: 2; height: 53%;">53</div>
                <div class="bar" style="--index: 3; height: 88%;">88</div>
                <div class="bar" style="--index: 4; height: 21%;">21</div>
                <div class="bar" style="--index: 5; height: 33%;">33</div>
                <div class="bar" style="--index: 6; height: 10%;">10</div>
                <div class="bar" style="--index: 7; height: 67%;">67</div>
            </div>
        </div>

        <div class="trackm-item" id="trackm3">
            <div class="activities">
                <select id="dropdown-menu">
                    <option value="1">Hours Slept</option>
                    <option value="2">Miles Walked</option>
                    <option value="3">Work Out Hours</option>
                    <option value="4">Protein</option>
                    <option value="5">Drinks</option>
                    <option value="6">Cigarettes</option>
                    <option value="7">Calories</option>
                </select>
                <div class="trackm3-statistics">
                    <p>Today:<span>6</span><br />Yesterday:<span>7.23</span><br />This Week:<span>18.27</span><br />This Month:<span>127.39</span><br />Daily Avg:<span>6.32</span><br />Weekly Avg:<span>43.7</span><br />Monthly Avg:<span>203.57</span><br /></p>
                </div>
            </div>
        </div>

        <div class="trackm-item" id="trackm4">
            <div id="left-item4">
                <select id="dropdown-menu">
                    <option value="1">Hours Slept</option>
                    <option value="2">Miles Walked</option>
                    <option value="3">Work Out Hours</option>
                    <option value="4">Protein</option>
                    <option value="5">Drinks</option>
                    <option value="6">Cigarettes</option>
                    <option value="7">Calories</option>
                </select>
            </div>

            <div id="center-item4">
                <div class="divider"></div>
            </div>

            <div id="right-item4">
                <i class="fa-solid fa-plus fa-2xl" style="color: #333438; margin: 20px;"></i>
                <i class="fa-regular fa-square-minus fa-2xl" style="color: #333438; margin: 20px;"></i>
            </div>
        </div>

        <div class="trackm-item" id="trackm5">
        </div>

        <div class="trackm-item" id="trackm6">

            <div id="live-datetime"></div>
        </div>

    </div>

</body>

<script src="/js/Activity_Tracker.js"></script>