<style>
    body {
        background: linear-gradient(to bottom right, #fff, #e2efff);
    }
</style>

<div class="mainContainer">
    <h2></h2>

    <p>@ViewData["CurriculumInfo"]</p>

    <div class="card-container">
        <div class="card-row">
            <div class="card">
                <div class="card-photo">
                    <img src="/Website_Logos/Csharp.png" alt="Photo 1">
                </div>
                <div class="card-content">
                    <p>C#<br />Object-Oriented Programming (OOP)<br />Foundations and Structures</p>
                </div>
            </div>
        </div>
        <div class="card-row">
            <div class="card">
                <div class="card-photo">
                    <img src="/Website_Logos/GitHub.png" alt="Photo 2">
                </div>
                <div class="card-content">
                    <p>Version Control Systems (VC)<br />GitHub and Git<br />Source Control<br />Merge/Branch/Commit</p>
                </div>
            </div>
        </div>
        <div class="card-row">
            <div class="card">
                <div class="card-photo">
                    <img src="/Website_Logos/MVC.png" alt="Photo 3">
                </div>
                <div class="card-content">
                    <p>Model View Controler (MVC) Architecture<br />Web Development Fundamentals<br />Entity Framework<br />ASP.NET</p>
                </div>
            </div>
        </div>
        <div class="card-row">
            <div class="card">
                <div class="card-photo">
                    <img src="/Website_Logos/HTML.png" alt="Photo 4">
                </div>
                <div class="card-content">
                    <p>Hypertext Markup Language<br />Website Fundamentals<br />Body, Divs, and more Divs<br />Correct Structuring</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/Curriculum.js"></script>
</div>