<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="/css/taskmanager.css">
    

</head>

<body>
    <h2>TaskManager.</h2>
    <div id="theme-selector">
        <label for="theme-dropdown">Select a Theme:</label>
        <select id="theme-dropdown" onchange="setTheme(this.value)">
            <option value="theme1">Default</option>
            <option value="theme2">Rose Gold</option>
            <option value="theme3">Lime Green</option>
            <option value="theme4">Dark Mode</option>
            <option value="theme5">Light Mode</option>
            <option value="theme6">Retro</option>
            Add more options for additional themes if needed
        </select>
        <div id="row-buttons">
            <button onclick="addTaskRow()">Add Task</button>
            <button onclick="deleteTaskRow()">Delete Task</button>
        </div>
    </div>
    <div id="task-manager-template">

        <div id="grid-container">
            <div id="grid-item-head">Welcome to your Task Manager!</div>
            <div id="grid-item" draggable="true" contenteditable="true">TASK 1</div>
            <div id="grid-item" draggable="true" contenteditable="true">TASK 2</div>
            <div id="grid-item" draggable="true" contenteditable="true">TASK 3</div>
        </div>
    </div>


    @*Trying to configure draggable content*@
    @*<div class="container">
            <p class="draggable" draggable="true">1</p>
            <p class="draggable" draggable="true">2</p>
        </div>
        <div class="container">
            <p class="draggable" draggable="true">3</p>
            <p class="draggable" draggable="true">4</p>
        </div>*@
    <script src="/js/taskmanager.js" defer></script>
</body>

</html>
