body {
    font-family: 
    width: auto;
    height: auto;
}

.trackm-container {
    position: relative;
    color: grey;
    background: linear-gradient(to bottom right, #2f3136,#333438);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
    width: 1000px;
    height: 1000px;
    border: 1.75px solid transparent;
    border-radius: 25px;
    transform: scale(0.75);
}

.trackm-item {
    background-color: transparent;
    background-image: linear-gradient(to right, #9c2867, #F1942A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 3px;
    padding: 3px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1.25px solid #F1942A;
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
}

    .trackm-item:hover {
        transform: scale(1.01);
    }

#activites {
    margin-top: 5px;
}

.tick-markv {
    color: #F1942A;
    font-size: 4px;
    position: absolute;
    left: 12.5px;
    height: 1px;
    width: 7px;
    background-color: #F1942A;
}
.tick-markv:nth-child(n) {
    top: calc((100% / 31 * (var(--tick-index) + 1)) - 22px);
}
    .tick-markv:nth-child(31) {
        width: 23px;
    }
    .tick-markv:nth-child(21) {
        width: 20px;
    }
    .tick-markv:nth-child(11) {
        width: 23px;
    }
    .tick-markv:nth-child(1) {
        width: 23px;
    }
    /**************************/
    .tick-markv:nth-child(6) {
        width: 15px;
    }
    .tick-markv:nth-child(16) {
        width: 15px;
    }
    .tick-markv:nth-child(26) {
        width: 15px;
    }
    /***************************/
    .tick-markv:nth-child(3) {
        width: 3px;
    }
    .tick-markv:nth-child(4) {
        width: 3px;
    }
    .tick-markv:nth-child(8) {
        width: 3px;
    }
    .tick-markv:nth-child(9) {
        width: 3px;
    }
    .tick-markv:nth-child(13) {
        width: 3px;
    }
    .tick-markv:nth-child(14) {
        width: 3px;
    }
    .tick-markv:nth-child(18) {
        width: 3px;
    }
    .tick-markv:nth-child(19) {
        width: 3px;
    }
    .tick-markv:nth-child(23) {
        width: 3px;
    }
    .tick-markv:nth-child(24) {
        width: 3px;
    }
    .tick-markv:nth-child(28) {
        width: 3px;
    }
    .tick-markv:nth-child(29) {
        width: 3px;
    }

    .btn:hover {
        transform: scale(1.1);
        -webkit-text-fill-color: linen;
        animation: bounce 0.33s infinite alternate;
    }
    @keyframes bounce {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.1);
        }
    }

.bar {
    -webkit-text-fill-color: #2f3136;
    background: linear-gradient(to top right, #9c2867, #F1942A);
    position: absolute;
    justify-self: center;
    padding: 10px;
    bottom: 0;
    gap: 5px;
    width: calc(80% / 7);
    border: 1px solid #F1942A;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: var(--bar-height);
}

#dropdown-menu {
    display: relative;
    justify-content: center;
    color: white;
    background-color: transparent;
    font-size: 13px;
    padding: 7px;
    margin: 7px;
    border: 1px solid #F1942A;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

    #dropdown-menu:hover {
        transform: scale(1.03);
        -webkit-text-fill-color: linen;
        animation: bounce 0.33s infinite alternate;
    }
        @keyframes bounce {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.1);
        }
    }

.divider {
    height: 80px;
    width: 1px;
    background-color: #888686;
    margin: 10px;
    border: 1px solid transparent;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

    .divider:hover {
        animation: bounce 0.42s infinite alternate;
    }
    @keyframes bounce {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.1);
        }
    }

/****************************************************************************/

#trackm1 {
    position: relative;
    grid-column: 1;
    grid-row: 1 / span 4;
    bottom: 0;
    display: flex;
    align-items: center;
}

    #today-actvs {
        position: absolute;
        bottom: 0;
        height: var(--bar-height);
        width: 45px;
        left: 33.3333%;
    }

#trackm2 {
    position: relative;
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
}

    #trackm2 .bar {
        left: calc((100% / 7) * (var(--index) - .9));
    }

    .graph-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

.tick-markh {
    color: #F1942A;
    font-size: 4px;
    position: absolute;
    top: 0;
    left: 10px;
    margin-top: 5px;
    height: 15px;
    width: 1px;
    background-color: #F1942A;
}
    .tick-markh:nth-child(7) {
        left: 92%;
        height: 20px;
    }
    .tick-markh:nth-child(6) {
        left: 78%;
    }
    .tick-markh:nth-child(5) {
        left: 63.75%;
    }
    .tick-markh:nth-child(4) {
        left: 50%;
        height: 20px;
    }
    .tick-markh:nth-child(3) {
        left: 35.75%;
    }
    .tick-markh:nth-child(2) {
        left: 21.5%;
    }
    .tick-markh:nth-child(1) {
        left: 7.25%;
        height: 20px;
    }

#trackm3 {
    display: flex;
    grid-column: 5 / span 1;
/*    grid-row: 1 / span 2;*/
}

.trackm3-statistics {
    display: flow;
    flex-direction: column;
    font-size: 12px;
    margin: 3px;
    padding: 3px;
}
    .trackm3-statistics p {
        font-size: 14px;
        display: flow;
        text-align: left;
    }
    .trackm3-statistics span {
        font-size: 12px;
        display: flow;
        text-align: right;
    }

#trackm4 {
    grid-column: 2 / span 3;
    grid-row: 4;
}

.fa-solid fa-plus fa-2xl {
    transition: transform 0.3s ease-in-out;
}
    .fa-solid:hover {
        font-size: 40px;
        -webkit-text-fill-color: linen;
        animation: bounce 0.33s infinite alternate;
    }

.fa-regular fa-square-minus fa-2xl {
    transition: transform 0.3s ease-in-out;
}
    .fa-regular:hover {
        font-size: 40px;
        -webkit-text-fill-color: linen;
        animation: bounce 0.33s infinite alternate;
    }

#left-item4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

    #center-item4 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    #right-item4 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

#trackm5 {
    grid-column: 5;
    grid-row: 3 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#trackm6 {
    grid-column: 1 / span 5;
    grid-row: 5;
}

    #live-datetime {
        display: flex;
        align-items: center;
        justify-content: center;
        color: linen;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 48px;
        background: transparent;
        margin: 15px;
        padding: 7px;
    }