body {
    width: auto;
    height: auto;
}

.trackm-container {
    position: relative;
    color: grey;
    background: linear-gradient(to bottom right, #2f3136,#333438);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
    width: 720px;
    height: 720px;
    border: 1.75px solid transparent;
    border-radius: 25px;
}

.trackm-item {
    background-color: transparent;
    background-image: linear-gradient(to right, #9c2867, #F1942A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 1.5px;
    padding: 3px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1.25px solid #F1942A;
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
}

    .trackm-item:hover {
        transform: scale(1.01);
    }

#activites {
    margin-top: 5px;
}

.btn {
    color: #F1942A;
    background-color: transparent;
    border: 2px solid #F1942A;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

    .btn:hover {
        transform: scale(1.1);
        -webkit-text-fill-color: linen;
        animation: bounce 0.33s infinite alternate;
    }
    @keyframes bounce {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.1);
        }
    }

.bar {
    -webkit-text-fill-color: #2f3136;
    background: linear-gradient(to top right, #9c2867, #F1942A);
    position: absolute;
    justify-self: center;
    padding: 10px;
    bottom: 0;
    gap: 5px;
    width: calc(80% / 7);
    border: 1px solid #F1942A;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: var(--bar-height);
}

#dropdown-menu {
    display: relative;
    justify-content: center;
    color: white;
    background-color: transparent;
    font-size: 13px;
    padding: 7px;
    margin: 7px;
    border: 1px solid #F1942A;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

    #dropdown-menu:hover {
        transform: scale(1.03);
        -webkit-text-fill-color: linen;
        animation: bounce 0.33s infinite alternate;
    }
        @keyframes bounce {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.1);
        }
    }

.divider {
    height: 80px;
    width: 1.3px;
    background-color: gray;
    margin: 10px;
    border: 1px solid transparent;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

    .divider:hover {
        animation: bounce 0.42s infinite alternate;
    }
    @keyframes bounce {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.1);
        }
    }

/****************************************************************************/

#trackm1 {
    position: relative;
    grid-column: 1;
    grid-row: 1 / span 4;
    bottom: 0;
    display: flex;
    align-items: center;
}

    #today-actvs {
        position: absolute;
        bottom: 0;
        height: var(--bar-height);
        width: 45px;
        left: 33.3333%;
    }

#trackm2 {
    position: relative;
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
}

    #trackm2 .bar {
        left: calc((100% / 7) * (var(--index) - .9));
    }

    .graph-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

#trackm3 {
    display: flex;
    flex-direction: column;
    grid-column: 5 / span 1;
    grid-row: 1 / span 2;
}

#trackm4 {
    grid-column: 2 / span 3;
    grid-row: 4;
}

    #left-item4 {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #center-item4 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    #right-item4 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

#trackm5 {
    grid-column: 5;
    grid-row: 3 / span 2;

}

#trackm6 {
    grid-column: 1 / span 5;
    grid-row: 5;
}