body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 500px;
    background: #7ea281;
}

.parent-game-container {
    display: grid;
    flex-direction: row;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
}

    .card-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-row {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .card {
        width: 100px;
        height: 150px;
        margin-right: 10px;
    }

#child1-cards {
    grid-row: 1;
    grid-column: 1;
}

    #dealerName {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: xx-large;
        color: #f44336;
        text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    }

    #dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 10px;
    }

    #dealer-cards:hover {
        transform: scale(1.03);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        color: #6bbd67;
    }

        #userName {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: xx-large;
        color: #008bff;
        text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
        }

        #your-cards img {
        height: 175px;
        width: 125px;
        margin: 10px;
        }

        #your-cards:hover {
            transform: scale(1.03);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            color: #6bbd67;
        }

#child2-stats-container {
    justify-content: center;
    grid-row: 1;
    grid-column: 2;
}

    .grid-item {
        color: black;
        text-align: center;
        align-items: center;
        background-color: #7ea281;
        border: 2px solid #218d2a;
        border-radius: 25px;
        padding: 20px;
        margin: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .grid-item:hover {
        transform: scale(1.03);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        color: #6bbd67;
        font-size: 1.05em;
}

#results {
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 125px;
    border: 2px solid #218d2a;
    border-radius: 25px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


    .results:hover {
        transform: scale(1.03);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        color: #6bbd67;
        font-size: 1.05em;
    }

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

    .button-row button {
        width: 100px;
        height: 50px;
        font-size: 17px;
        margin: 0 5px;
    }

@keyframes dealAnimation {
    0% {
        transform: translateY(-100px) rotate(-20deg);
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotate(0);
        opacity: 1;
    }
}

.footer {
    margin-top: 300px;
}
