:root {
/*         Default theme properties */
    --theme-page-background-color: #F2F2F2;
    --theme-grid-container-background-color: #F2F2F2;
    --theme-text-color: #262626;
    --theme-border-color: #737373;
    --theme-grid-item-hover-text-color: #262626;
    --theme-grid-item-hover-background-color: #BFBFBF;
}

body {
    background-color: var(--theme-page-background-color);
    color: var(--theme-text-color);
}

#theme-selector {
    align-items: end;
    margin: 10px;
    background-color: var(--theme-page-background-color);
    color: var(--theme-text-color);
    border: var(--theme-border-color);
}

#theme-dropdown {
    background-color: var(--theme-page-background-color);
    color: var(--theme-text-color);
    border: var(--theme-border-color);
}

#task-manager-template {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#grid-container {
    height: auto;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: solid 3px var(--theme-border-color);
    border-radius: 25px;
    background-color: var(--theme-grid-container-background-color);
    justify-content: center;
    align-items: center;
}

#grid-item-head,
#grid-item {
    font-size: large;
    width: 750px;
    height: 75px;
    padding: 1rem;
    cursor: move;
    gap: 25px;
    margin: 10px;
    border: solid 3px var(--theme-border-color);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-grid-container-background-color);
    color: var(--theme-text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    #grid-item:hover {
        background-color: var(--theme-grid-item-hover-background-color);
        color: var(--theme-grid-item-hover-text-color);
        transform: scale(1.13);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        font-size: 1.5em;
    }

    #grid-item.dragging {
        opacity: 0.5;
    }


/*    Trying to configure draggable content*/
/*.container {
    background-color: black;
    padding: 1rem;
    margin-top: 1rem;
}

.draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
}

    .draggable.dragging {
        opacity: .5;
    }*/